# Build output
dist/
coverage.out
coverage.html

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
venn

# Logs
*.log

# Local tooling
.idea/
.vscode/

# Dependencies
vendor/

# OS files
.DS_Store
Thumbs.db
